{% if form.sec_registration %}
    <p>
        <label for="id_sec_registration">SEC Registration:</label>
        {{ form.sec_registration }}
    </p>
{% endif %}

{% if form.dti_permit %}
    <p>
        <label for="id_dti_permit">DTI Permit:</label>
        {{ form.dti_permit }}
    </p>
{% endif %}

{% if form.business_permit %}
    <p>
        <label for="id_business_permit">Business Permit:</label>
        {{ form.business_permit }}
    </p>
{% endif %}

{% if form.latest_job_posting %}
    <p>
        <label for="id_latest_job_posting">Latest Job Posting:</label>
        {{ form.latest_job_posting }}
    </p>
{% endif %}

{% if form.no_pending_case_certificate %}
    <p>
        <label for="id_no_pending_case_certificate">No Pending Case Certificate:</label>
        {{ form.no_pending_case_certificate }}
    </p>
{% endif %}

{% if form.dole_permit %}
    <p>
        <label for="id_dole_permit">DOLE Permit:</label>
        {{ form.dole_permit }}
    </p>
{% endif %}

{% if form.bir_registration %}
    <p>
        <label for="id_bir_registration">BIR Registration:</label>
        {{ form.bir_registration }}
    </p>
{% endif %}

{% if form.tied_companies_list %}
    <p>
        <label for="id_tied_companies_list">Tied Companies List:</label>
        {{ form.tied_companies_list }}
    </p>
{% endif %}

{% if form.phil_job_net_registration %}
    <p>
        <label for="id_phil_job_net_registration">PhilJobNet Registration:</label>
        {{ form.phil_job_net_registration }}
    </p>
{% endif %}

{% if form.poea_permit %}
    <p>
        <label for="id_poea_permit">POEA Permit:</label>
        {{ form.poea_permit }}
    </p>
{% endif %}
