{% extends 'employer/layouts/base.html' %} {% block content %} {% load static %}
    <style>
        form {
            max-width: 800px;
            margin: 0 auto;
            padding: 30px;
            background: #ffffff;
            border-radius: 8px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }
        form p {
            margin-bottom: 15px;
        }
        input, select, textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
        }
        input:focus, select:focus, textarea:focus {
            outline: none;
            border-color: #28a745;
            box-shadow: 0px 0px 5px rgba(40, 167, 69, 0.5);
        }
        label {
            font-weight: bold;
            color: #555;
        }
        input[type="text"], textarea, select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-top: 5px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }
        @media (max-width: 768px) {
            .container {
                padding: 10px;
            }
            h1 {
                font-size: 24px;
            }
        }
    </style>

    <script>
        function goBack() {
            window.location.href = "{% url 'employer:employer_dashboard' %}";
        }
    </script>

<main class="main" id="main">
    <section class="about section" data-aos="fade-up">
        <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Post a Job</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
          </div><!-- End Section Title -->

        <div class="container">
            <!-- Messages Section -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Form Section -->
            <form action="{% url 'employer:create_job_posting' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-success">Post</button>
                <button type="button" class="btn btn-outline-dark" onclick="goBack()">Back</button>
            </form>
        </div>
    </section>

</main>


{% endblock %}