{% extends 'employer/layouts/base.html' %} {% block content %} {% load static %}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        th, td {
            text-align: left;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #5cb874;
            color: white;
        }
        tr:hover {
            background-color: #f1f1f1;
        }
        @media (max-width: 768px) {
            .container {
                padding: 10px;
            }
            h1 {
                font-size: 24px;
            }
            table {
                font-size: 14px;
            }
        }
    </style>
    <script>
        function goBack() {
            window.location.href = "{% url 'employer:employer_dashboard' %}";
        }
    </script>

<main class="main" id="main">
    <section class="about section">
        <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
            <h2>Job Postings</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
          </div><!-- End Section Title -->

        <div class="container" data-aos="fade-up">
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Location</th>
                        <th>Salary</th>
                        <th>Skills</th>
                        <th>Requirements</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job_postings in job_postings %}
                    <tr>
                        <td>{{ job_postings.position }}</td>
                        <td>{{ job_postings.job_description }}</td>
                        <td>{{ job_postings.location }}</td>
                        <td>{{ job_postings.salary }}</td>
                        <td>{{ job_postings.skills }}</td>
                        <td>{{ job_postings.requirements }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">No jobs available.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <form method="post">
                {% csrf_token %}
                <button type="button" class="btn btn-outline-dark" onclick="goBack()">Back</button> <span><a
                    href="{% url 'employer:create_job_posting' %}">Post a Job</a></span>
            </form>
        </div>

    </section>
</main>

{% endblock %}

